{% extends 'users/base.html' %}

{% load static %}
{% block title %}Delete Question{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact_responsive.css' %}"/>
{% endblock style %}


{% block content %}
    <div class="new_page container">
        <div class="contact_form_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="contact_title">Are you sure you want to delete this question?</div>
                        <form class="contact_form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <select class="contact_input" name="ask">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <button class="contact_button trans_200">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock script %}