{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Welcome To DREM International{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Destiny Rescue Mission (DREM) International Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/bootstrap2.css' %}"/>
    {% block blog_style %}
    {% block style %}
    {% endblock style %}
    {% endblock blog_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

</head>

<body>
<div class="super_container">

    <header class="header">

        <div class="top_bar">
            <div class="container" style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;">
                <div class="row">
                    <div class="col top_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="event_timer">
                            <ul class="timer">
                                <li class="d-inline-flex">
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                        <div>You are logged in as <strong>{{ request.user.username }} (Admin)</strong></div>
                                    {% elif request.user.is_authenticated and not request.user.is_staff %}
                                        <div>You are logged in as <strong>{{ request.user.username }}</strong></div>
                                    {% else %}
                                        <div>You are logged out!!!</div>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="donations_button ml-auto">
                            <h3 id="clock" style="color: white;"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">

                            <div class="logo_container">
                                <div class="logo">
                                    <a href="{% url 'base' %}">
                                        <span>
                                            <img src="{% static 'img/drem_logo.jpg' %}" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="header_nav_container ml-auto">
                                <nav class="main_nav">
                                    <ul>
                                        <li class="active"><a href="{% url 'base' %}">Home</a></li>
                                        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                                        <li><a href="{% url 'blog:post_new' %}">{% block blog_new %}{% endblock blog_new %}</a></li>
                                        <li><a href="{% url 'school:sbi_home' %}">Bible Institute</a></li>
                                        <li><a href="{% url 'users:contact_us' %}">Contact Us</a></li>
                                        {% if request.user.is_authenticated and not request.user.is_staff %}
                                            <li><a href="{% url 'users:user_profile' request.user.id %}">Profile</a></li>
                                            <li><a href="#">Change Password</a></li>
                                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% elif request.user.is_authenticated and request.user.is_staff %}
                                            <li><a href="{% url 'users:user_profile' request.user.id %}">Profile</a></li>
                                            <li><a href="#">Change Password</a></li>
                                            <li><a href="{% url 'quiz:all_questions' %}">Quiz Section</a></li>
                                            <li><a href="{% url 'awards:list_awards' %}">Awards</a></li>
                                            <li><a href="#">View Users</a></li>
                                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% else %}
                                            <li><a href="{% url 'users:signup' %}">Register</a></li>
                                            <li><a href="{% url 'users:login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>

                            <div class="hamburger ml-auto" style="color: black;">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="menu d-flex flex-column align-items-center justify-content-center">
        <div class="menu_content">
            <div class="cross_1 d-flex flex-column align-items-center justify-content-center">
                <img class="setting" src="{% static 'img/drem_logo.jpg' %}" alt="">
            </div>
            <nav class="menu_nav">
                <ul>
                    <li class="active"><a href="{% url 'base' %}">Home</a></li>
                    <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                    <li><a href="{% url 'blog:post_new' %}">{% block blog_new1 %}{% endblock blog_new1 %}</a></li>
                    <li><a href="{% url 'school:sbi_home' %}">Bible Institute</a></li>
                    <li><a href="{% url 'users:contact_us' %}">Contact Us</a></li>
                    {% if request.user.is_authenticated and not request.user.is_staff %}
                        <li><a href="{% url 'users:user_profile' request.user.id %}">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% elif request.user.is_authenticated and request.user.is_staff %}
                        <li><a href="{% url 'users:user_profile' request.user.id %}">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="{% url 'quiz:all_questions' %}">Quiz Section</a></li>
                    <li><a href="{% url 'awards:list_awards' %}">Awards</a></li>
                        <li><a href="#">View Users</a></li>
                        <li><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'users:signup' %}">Register</a></li>
                        <li><a href="{% url 'users:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    {% block quiz %}
    {% block content %}
    <div class="home">
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                <div class="owl-item">
                    <div class="home_slider_background"
                         style="background-image:url(static/img/logo1.jpg)">
                    </div>
                    <div class="home_slider_content text-center">
                      <div class="cross_1 d-flex flex-column align-items-center justify-content-center" style="backgroud: none;">
                          <img src="{% static 'img/drem_logo.jpg' %}" alt="" style="width: 100px; height: 100px; float: left; border-radius: 50%;">
                      </div>
                      <h2 style="color: white; font-weight: 600;">DESTINY RESCUE MISSION (DREM) INTERNATIONAL</h2>
                      <p style="color: red; font-weight: 600">...Who so run to Christ shall be saved!!!</p>
                    <div class="button home_slider_button"><a href="{% url 'users:convener' %}">About Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- About The Convener -->

<div class="intro">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container">
              <div class="section_image"><img src="{% static 'img/church_1.png' %}"
                  alt=""></div>
              <div class="section_title">
                <h2 style="text-transform: capitalize";>...First words from the convener...</h2>
              </div>
              <div class="section_subtitle">Evang. O .D. A. Elijah</div>
            </div>
          </div>
        </div>
        <div class="row intro_content">

          <div class="col-lg-6">
            <div class="intro_text">
              <p>
                  Destiny Rescue Mission Int'l (DREM) is a ministry committed to setting captives free. (ISAIAH 61:1-7, LUKE 4:18-19).<br>
                  One faithful afternoon, on my way to campus ( Christ Apostolic Church Theological Seminary, Lagos State), God gave me the name while on motorbike.
                  I received the calling to be on mission for Christ, to evangelise and groom youths & young adults alike, far back 6 to 7 years ago but was more glaring in the year 2015.<br>
                  It all started with ...
              </p>
              <div class="button intro_button"><a href="{% url 'users:convener' %}">Read More</a></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="intro_image"><img src="{% static 'img/oda.jpg' %}" style="max-width: 50%; height: auto;" alt=""></div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<div class="services">
      <div class="services_background parallax-window" data-parallax="scroll" data-image-src="{% static 'img/services.jpg' %}"
        data-speed="0.8"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container">
              <div class="section_image"><img src="{% static 'img/church_2.png' %}" alt=""></div>
              <div class="section_title">
                <h2>Spiritual Activities</h2>
              </div>
              <div class="section_subtitle">God loves us all</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="services_text text-center">
              <p>
                  We have created different channels for our online users to ensure their spiritual growth. Feel free to partake in any or all of these channels listed below by a simple click.
              </p>
            </div>
          </div>
        </div>
        <div class="row services_row">

          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="services_item text-center">
              <div class="services_image"><img
                  src="{% static 'img/services_1.png' %}"
                  alt=""></div>
              <div class="services_title"><a href="{% url 'users:testimony' %}" style="color: white;">Testimonies</a></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="services_item text-center">
              <div class="services_image"><img
                  src="{% static 'img/services_2.png' %}"
                  alt=""></div>
                <div class="services_title"><a href="{% url 'blog:post_list' %}" style="color: white;">Believers' Forum</a></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="services_item text-center">
              <div class="services_image"><img
                  src="{% static 'img/services_3.png' %}"
                  alt=""></div>
                <div class="services_title"><a href="{% url 'awards:list_awards' %}" style="color: white;">Awards</a></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="services_item text-center">
              <div class="services_image"><img
                  src="{% static 'img/services_4.png' %}"
                  alt=""></div>
              <div class="services_title"><a href="{% url 'quiz:welcome' %}" style="color: white;">Bible Quiz</a></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="services_item text-center">
              <div class="services_image"><img
                  src="{% static 'img/services_6.png' %}"
                  alt=""></div>
                <div class="services_title"><a href="{% url 'users:prayer_request' %}" style="color: white;">Prayer Request</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock quiz %}
<footer class="footer" id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer_title">Social Media Links</div>
                <div class="footer_social">
                    <ul>
                        <li><a href="https://t.me/destinyrescuemissionintl2020/" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                        <li><a href="https://chat.whatsapp.com/IJBWWC8cjzV8HQzUYGvyED/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li><a href="https://m.facebook.com/Destiny-Rescue-Mission-intl-DREM-1618195011840282/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 footer_col">
                <div class="footer_title">Contact Us</div>
                <div class="footer_contact">
                    <ul>
                <li class="footer_contact_phone">
                  <span>Phone: </span>
                  <div>
                    <div> +2347067848348, +2348068565281, +2349055860342</div>
                  </div>
                </li>
                <li><span>Email: </span><a>destinyrescuemissionintl@gmail.com</a>
              </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright text-center">
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script>
        All rights reserved | This website is designed and developed by <a href="https://affabledigitalservices.herokapp.com" target="_blank">Akinade Mayowa</a>

    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/base/jquery.min.js' %}"></script>
<script src="{% static 'js/base/bootstrap.popper.js' %}"></script>
{% block blog_script %}
<script src="{% static 'js/base/bootstrap.min.js' %}"></script>
{% block script %}
<script src="{% static 'js/base/owl-carousel.js' %}"></script>
<script src="{% static 'js/base/app.js' %}"></script>
<script src="{% static 'js/base/plugins.js' %}"></script>
<script>eval(mod_pagespeed_w2$JNY6$Cn);</script>
<script>eval(mod_pagespeed_OT2DLOXnSB);</script>
<script>eval(mod_pagespeed_SvzwlsPWZP);</script>
{% endblock script %}
{% endblock blog_script %}
</body>

</html>