{% extends 'users/base.html' %}

{% load static %}
{% block title %}DREM | Change Password Form{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact_responsive.css' %}"/>
{% endblock style %}


{% block content %}
    <div class="new_page container">
        <div class="contact_form_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="contact_title">Change Password Form:</div>
                        <div class="message">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div>
                            <h4>Hint:</h4>
                            <ul>
                                <li>Your password can’t be too similar to your other personal information like your username.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                                <li>You can't use your former password(s) again.</li>
                            </ul>
                        </div>

                        <form class="contact_form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" style="margin-right: 15px; width:180px; margin_bottom: 15px;">
                                            Old Password
                                        </span>
                                        {{ form.old_password }}
                                    </div>
                                    <input type="checkbox" onclick="showOldPassword()">Show Password
                                    <br>
                                    <br>

                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" style="margin-right: 15px; width:180px;">
                                            New Password
                                        </span>
                                        {{ form.new_password1 }}
                                    </div>
                                    <input type="checkbox" onclick="showNewPassword()">Show Password
                                    <br>
                                    <br>

                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" style="margin-right: 15px; width:180px;">
                                            Confirm Password
                                        </span>
                                        {{ form.new_password2 }}
                                    </div>
                                    <input type="checkbox" onclick="showConfirmPassword()">Show Password
                                    <br>
                                    <br>

                                    <button class="contact_button trans_200" type="submit">
                                        Save Changes
                                    </button>
                                </div>

                                <div class="col-md-5">
                                    <span>
                                        <img src="{% static 'img/drem_logo.jpg' %}" alt="" style="max-width: 100%";>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/contact/easing.js' %}"></script>
<script src="{% static 'js/contact/plugin-parallax.js' %}"></script>
<script src="{% static 'js/contact/contact_custom.js' %}"></script>
<script>
        function showOldPassword() {
            var x = document.getElementById('id_old_password');
            if (x.type === 'password') {
                x.type = 'text';
            } else {
                x.type = 'password'
            }
        }

        function showNewPassword() {
            var x = document.getElementById('id_new_password1');
            if (x.type === 'password') {
                x.type = 'text';
            } else {
                x.type = 'password'
            }
        }

        function showConfirmPassword() {
            var x = document.getElementById('id_new_password2');
            if (x.type === 'password') {
                x.type = 'text';
            } else {
                x.type = 'password'
            }
        }
</script>
{% endblock script %}