{% extends 'users/base.html' %}

{% block title %}About The Convener{% endblock title %}


{% block content %}
    <div class="new_page container">
        <div>
                        <h2>...First words from the convener...</h2>
                        <p>
                            Destiny Rescue Mission Int'l (DREM) is a ministry committed to setting captives free. (ISAIAH 61:1-7, LUKE 4:18-19).<br>
                            One faithful afternoon while on my way to campus ( Christ Apostolic Church Theological Seminary, Lagos State), God gave me the name while on motorbike.
                            I received the calling to be on mission for Christ, to evangelise and groom youths & young adults alike, far back 6 to 7 years ago but was more glaring in the year 2015.<br>
                            It all started with Facebook page and group, posting of articles by God's grace.
                            Later, God gave directive to start weekly devotionals tagged: PERFECT LAW OF LIBERTY.
                            We received divine instructions to start impacting, grooming & counselling youths via WhatsApp group, which started in 2018 and its tagged: DESTINY DISCOVERY AND COUNSELLING FORUM-DEDACOFOR. And since then, God has really been helping us to go out on outreach to motherless homes, Rehabilitation centres etc.<br>
                            There are now 3 basic programs we are known with as a ministry according to the measure of grace received:
                            <ol>
                                <li>OUTREACH (to either hospital, rehabilitation centre, prison or motherless home every EASTER MONDAY of the year).</li>
                                <li>BETHESDA EXPERIENCE (Every October 1st).</li>
                                <li>OPERATION CARE for the POORS ON the STREET-OCPOS (Every boxing day, December 26th).</li>
                            </ol>
                        </p>
                    </div>
        <div>
            <h2>MEET THE MAN~~ EVANG. OLANREWAJU DAMILARE AKINYOOLA- O.D.A</h2>
        <p>
            Evang. Olanrewaju Damilare Akinyoola is a graduate of computer engineering with honour, bachelor degree holder (2nd class upper) in pastoral theology from prestigious Christ Apostolic Church Theological seminary Ile-Ife (Lagos Campus). <br>
            He is an award-winning graduate at Creative Writers Builder Academy as the former Secretary and P.R.O of the School. <br>
            He is a storyteller/scriptwriter, an advocate of Godliness amidst youths and young adults, a staunch lover of learning-ever opened to new ideas.
        </p>

        <p>
            Evang. Olanrewaju Damilare Akinyoola is a scholar, God fearing young man, an astute theologian and visionary leader, a fine academician with brand that cannot be mixed.<br>
            A profound thinker and pen writer, an Evangelist with outstanding standards, a sound teacher and results oriented researcher. An energetic minister of God, guest speaker at the different levels of programmes in the vineyard of God.<br>
            His ultimate mission/goal is to positively influence his society to better forms, most especially the youths and young adults.<br>
            He wants to be part of a cause/movement/corporation that focuses on reforming and that helps in shaping a new way of thinking, so as to aid personality transformation.
        </p>

        <p>
            Evang. Olanrewaju Damilare Akinyoola - (O.D.A) is the Missioner and Visionary of DESTINY RESCUE MISSION INT'L-DREM, a ministry that's saddled with the responsibility of raising generations that are fulfilling destiny and purpose, and purely sanctified youths for CHRIST even in this insane society. "ISAIAH 61:1-7 & LUKE 4:18-19".<br>
            He's the author of the books: SALIENT BITTER TRUTHS and STOP! DON'T OFF THE LIGHT. He is presently a lecturer at HIS GRACE BIBLE COLLEGE - HIGBICO.
        </p>

        <p>
            Evang. Olanrewaju Damilare Akinyoola is a mentor to so many youths and young adults. His life revolves round reading, writing and teaching.<br>
            He always seeks opportunities to help, motivate and encourage people around him to be the best version of themselves through one-on-one counseling and writings and also have passion to help people see the need for self education and personal development. <br>
            He is happily married to Olusola Obakunle Akinyoola, an entrepreneur and teacher of the word. Blessed with tremendous blessings of God, they live in Lagos State, Nigeria.
        </p>

        <p>
            To book or schedule Evang. Olanrewaju and Olusola to speak at your church programmes, Youth camp, Retreat, Conferences, Revival, Symposium, Anniversaries etc, please call: 07067848348, 08068565281,09055860342.<br>
            Or send us an email to : destinyrescuemissionintl@gmail.com<br>
            You can also connect with us via our various media channels:<br>
            <ul>
                <li>Twitter: @DremInt</li>
                <li>WhatsApp Group name: DESTINY DISCOVERY AND COUNSELLING FORUM-DEDACOFOR (Private chat via 07067848348 to get added)</li>
                <li>Telegram: DESTINY RESCUE MISSION T.V 🖥️</li>
                <li>Instagram: @drem_intl</li>
                <li>Facebook group: DESTINY RESCUE MISSION INT'L-DREM</li>
                <li>Facebook Page: Destiny Rescue Mission  int'l DREM</li>
            </ul>
        </p>

        <p>
            FOR MORE DETAILS ABOUT THE MINISTRY, PLEASE VISIT OUR WEBSITE👇👇<br>
            https://drem-international.herokuapp.com<br>
            SHA-LOM
        </p>
        </div>
    </div>
{% endblock %}